@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

#title{
    font-family: 'Bree Serif', serif;
    color: rgb(255, 255, 85);
    text-shadow: 1px 1px 3px #000;
    position: absolute;
    top: 10%;
    left: 10%;
    text-align: center;
}

#title h1 {
    font-size: 2rem;
    border-bottom: 2px solid rgb(116, 49, 49);
}

#title h2 {
    font-size: 1.7rem;
}

#banner{
    height: 40vh;
    width: 100%;
    background-color: #a1baff;
    position: relative;
}

#banner:after{
    content: '';
    display: block;
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(7, 128, 7, 0.575);
}

#castle{
    background-size: stretch;
    position: absolute;
    right: 0;
    bottom: 10%;
    z-index: 10;
    height: 80%;
    width: 20%;
}

#knight{
    background-size: stretch;
    width: 20%;
    height: 40%;
    position: absolute;
    left: 0;
    bottom: 5%;
    z-index: 11;
    animation: gallop 1s linear infinite alternate;
    transition-duration: 2s;
}

#fire{
    position: absolute;
    right: 0;
    bottom: 10%;
    z-index: 10; 
    height: 80%;
    width: 20%;
    display: none;
    animation: fire 5s infinite alternate;
    padding: 0;
}

#effect{
    position: absolute;
    right: 3%;
    bottom: 5%;
    z-index: 9; 
    height: 80%;
    width: 10%;
    display: none;
    animation: fire 2s infinite alternate;
    padding: 0;
    animation-delay: .3s;
    opacity: .2;
}

@keyframes gallop{
    0%{
        transform: translate(0%, 0%);
    }
    100%{
        transform: translate(0%, 5%);
    }
}


@keyframes fire{
    0%{
        transform: translate(0%, -15%) ;
        opacity: 1;
    }
    25%{
        transform: translate(0%, -10%);
        opacity: .33;
    }
    50%{
        transform: translate(0%, -15%);
        opacity: .5;
    }
    75%{
        transform: translate(0%, -10%);
        opacity: .33;
    }
    100%{
        transform: translate(0%, -15% );
        opacity: .5;
    }
}


.question-wrapper{
    width: 60%;
    background-color: rgb(241, 241, 241);
    height: 90%;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    border: 2px solid rgb(1, 59, 21);
}

#game-area{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.monty-text{
    font-family: 'Bree Serif', serif;
    color: rgb(255, 255, 85);
    text-shadow: 1px 1px 3px #000;
}

.text-lg{
    font-size: 2rem;
}

.wins{
    margin: .5em;
}

.word-wrapper{
    font-size: 3em;
    margin: .5em;
    letter-spacing: 5px;
}

#word-location{
    margin-top: 1em;
}

.guesses-wrapper{
    text-align: center;
    font-size: 1.8em;
}

.guessed-wrapper{
    margin: 1em auto;
}

#player-guess{
    margin: 1em;
    letter-spacing: 5px;
    font-size: 1.2rem;
}

.modal{
    display: none;
    width: 50%;
    height: 70%;
    background-color: #467c46;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    box-shadow: 5px 10px 10px rgba(20, 20, 20, 0.61);
    border: 1px solid rgb(53, 53, 53);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .3em;
    border-radius: 5px;
}


.modal h1{
    font-size: 1.5rem;
}

.modal h2{
    margin: .3em auto;
    font-size: 1.2rem;
}

.modal img{
    width: 80%;
    height: 70%;
    border: 1px solid yellow;
    margin: 1em;
}

.button{
    color: white;
    background-color: rgb(58, 70, 66);
    border: 0px solid transparent;
    padding: 1em;
    width: 40%;
    font-size: 1.4em;
    font-weight: 600;
    border-radius: 5px;
}



.button:hover{
    border: 1px solid yellow;
    box-shadow: 1px 1px 10px rgba(34, 33, 33, 0.438);
}

#hint{
    display: none;
    color: red;
    font-size: 3rem;
}